
 /* Wyśrodkowanie treści na stronie */
.container {
    width: 60%; 
    margin: 0 auto; 


  }
  
  /* Wyśrodkowanie nagłówków */
  h1, h2 {
    text-align: center;
    color: #333; 
  }
  


 

  

  